<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget" value="https://api.nuget.org/v3/index.json" />
    <add key="altemiq" value="https://nuget.pkg.github.com/altemiq/index.json" />
  </packageSources>
  <packageSourceMapping>
    <clear />
    <packageSource key="nuget">
      <package pattern="Altemiq" />
      <package pattern="Altemiq.DotNet.CodingStandard" />
      <package pattern="Altemiq.Runtime" />
      <package pattern="Altemiq.SemanticVersioning.MSBuild" />
      <package pattern="*" />
    </packageSource>
    <packageSource key="altemiq">
      <package pattern="Altemiq.Data.*" />
      <package pattern="Altemiq.Geometry" />
      <package pattern="Altemiq.Geometry.*" />
      <package pattern="Altemiq.*.Geometry.*" />
      <package pattern="Altemiq.IO.*" />
      <package pattern="Altemiq.Text.*" />
    </packageSource>
  </packageSourceMapping>
</configuration>
